<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Image Upload Form</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}">

    <script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"></script>
    <link href="forms.css" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->
<div class="card offset-3" style="margin-top: 25px; width: 800px">
    <div class="card-header bg-success" style="--bs-bg-opacity: .5">
        <h3 class="card-title">Upload a new recipe image</h3>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <form  action="http:\\localhost" method="post" enctype="multipart/form-data"
                   th:action="@{'/recipe/' + ${recipe.getId()} + '/image'}">
                <label class="form-label" for="imagefile">Select Your Image</label>
                <input id="imagefile" name="imagefile" type="file" class="file form-control bg-success-subtle">
                <button type="submit" class="btn btn-outline-success" style="margin-top: 25px">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>